body{
  background-color: rgb(229, 238, 255);
  text-align: center;
  font-size: 24px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.contenedor_principal{
  border: 5px rgb(56, 56, 56) solid;
  border-radius: 20px ;
  width: 1200px;
  margin: auto;
  margin-left: 160px;
  margin-top: 3 5px;
}

.contenedor_principal{
  background-image: url(imagenes/IA.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: whitesmoke;
}

.contenedor_definicion{
  width: 1000px;
  margin: auto;
}

.img{
  width: 300px;
}

.btn{
  width: 40px;
  margin-top: 15px;
}

.con{
  border: 0px;
  margin: 10px;
  margin-bottom: 0px;
  background-color: whitesmoke;
  margin-top: 30px;
  cursor: pointer;
}

.con2{
  width: 0px;
  height: 0px;
  background-color: none;
  border: 0px;
  margin-right: 60px;
  margin-top: 0px;
}


.btn2{
  width: 60px;
  cursor: pointer;
}

.info-box{
  width: 1400px;
  margin: auto;
  font-size: 20px;
  height: 110px;
  text-align: center;
  border: 0px;
  border-radius: 20px;
  padding: 20px;
  margin-top: 10px;
  border: 5px rgb(56, 56, 56) solid;
  background-color: whitesmoke;
}

.con3{
  background-color: whitesmoke;
  border: 0px;
  font-size: 18px;
  margin-top: 5px;
  cursor: pointer;
}